@model LDApp.Models.Comerciante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comerciante</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComercianteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
